{% extends "layouts.html" %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Articles Page</h1>
    <p class="lead">This Applicatiom is build using by python and Flask Frame work</p>
    <hr class="my-4">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col">description</th>
          <th scope="col">author</th>
          <th scope="col">date</th>
        </tr>
      </thead>
      <tbody>
        {% for a in [1,2,3,4,5] %}
        <tr>
          <th scope="row">{{a}}</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock %}
